  /* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Overlock', cursive !important;
  font-weight: 400;
  background-color: #F5F5F5;
}
b{
  font-weight: 900;
}
ol, ul {
  list-style: none;
}
button{
    border-radius: 5px;
    color:white;
    height: 40px;
    outline: none;
    border:none;
    cursor: pointer;
    min-width: 60px;
    margin: 5px;
  }
p{
  font-weight: 400;
  color: #999999;
  font-size: 16px;
}

h1{
  font-weight: 900;
  color:#FFFFFF;
  font-size:70px;
  font-family: 'Overlock', cursive !important;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

h2{
  color:#FFFFFF;
  font-size: 36px;
  font-family: 'Overlock', cursive !important;
  font-weight: 900;  
}

h3{
    color:#FFFFFF;
    font-size: 24px;
    font-family: 'Overlock', cursive !important;
    font-weight: 700;  
}
a{
    text-decoration: none;
}
input,select{
  width: 340px;
  background-color: transparent;
  border: none;
  border-bottom: 1px #981F62 solid;
  padding: 3px;
  font-family: 'Overlock', cursive !important;
  font-size: 16px;
  color: #981F62 ;
}
input:focus{
  outline: none !important;
}
select{
  width: auto;
  margin-right: 20px;
}
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
@media (max-width:1540px){

}
@media (max-width:1280px){
   
}
@media (max-width: 1025px) {

    h1{
        font-size:50px;
      }
}
@media (max-width: 769px) {
    h2{
        font-size: 26px; 
      }
}
@media (max-width: 640px) {
  body {
    background-color: white;
  }
    h1{
        font-size:40px;
      }

}
@media (max-width: 426px) {
    h1{
        font-size:26px;
      }

    }
@media (max-width: 360px) {
  
}
@media (max-width: 320px) {
 
}
