@import './../../sass/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@900&display=swap');

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}
.canvas {
    background-color: white;
    //box-shadow: theme.shadows[5];
    padding: 15px 20px 20px 60px;
    height: 80%;
    width: 60%;
    outline-style: none;
    -moz-border-radius: 63px;
    -webkit-border-radius: 63px;
}
.headerModal {
    height: 10%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: flex-end;
}
.catBeneficio{
    text-align: center;
    font-family: raleway;
    font-size: 16;
    color: white;
    background-color: $primaryColor;
    height: 15px;
    width: auto;
    min-width: 100px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 40px;
    
}
.closeButton{
    margin-left: 20px;
    cursor: pointer;
}
.bodyModal{
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}
.contBeneficio{
    height: 100%;
}
.textBeneficio{
    margin: 40px 0px 0px 15px
}
.textCategoria{
    font-family: raleway;
    font-size: 36px;
    color: $primaryColor;
    font-weight: 700;
    padding: 10px 0px 10px 10px;
}
.textDescuento{
    font-family: raleway;
    font-size: 54px;
    color: $primaryColor;
    font-weight: 900;
    padding: 10px 0px 10px 10px;
}
.textCredencial{
    font-family: raleway;
    font-size: 16px;
    color: $primaryColor;
    padding: 10px 0px 10px 10px;
}
.map{
    
}