@import './../../sass/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
.footer{
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whiteContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.pinkContainer{
    background-color: $primaryColor;
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color:white;
    padding: 25px 0px;
}
.logosContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    *{
        margin: 10px;
    }
}
.socialContainer{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin-top: 30px;
    margin-bottom: 5px;
}
@media (max-width:1540px){
   
}
@media (max-width:1280px){
  
}
@media (max-width: 1025px) {

}
@media (max-width: 769px) {
    .footer{
       margin-top: -70px;
    }
    .logosContainer{
        *{
            max-height:50px;
        }
    }
}
@media (max-width: 640px) {

}
@media (max-width: 426px) {
    .footer{
        margin-top: -130px;
     }
    .logosContainer{
        width: 50%;
       padding: 0 40px;
       *{
        margin: 0px;
        max-height:30px;
    }
    }
    .socialContainer{
        width: 40%;
    }
    .pinkContainer{
        font-size: 12px;
    }
    }
@media (max-width: 360px) {
    .logosContainer{
        width: 70%;
    }
}
@media (max-width: 320px) {
   
}
