@import "../../sass/variables.scss";

button {
    &.primary {
      cursor: pointer;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: transparent;
      border: 1px $primaryColor solid;
      border-radius: 24px;
      padding: 5px 10px;
      height: 40px;
      box-sizing: border-box;
      font-size: 16px;
    color:$primaryColor;
      font-weight: 900;
      font-family: "Overlock", cursive;
      transition: all 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    }
    &.primary:hover{
        background-color: rgba($primaryColor, 0.2);
    }
    &.primary:active{
        background-color: rgba($primaryActive, 0.2);
    }
    &.color{
      cursor: pointer;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: $primaryColor;
      border-radius: 24px;
      padding: 5px 10px;
      height: 40px;
      min-width: 120px;
      box-sizing: border-box;
      font-size: 16px;
      color:white;
      font-weight: 900;
      font-family: "Overlock", cursive;
      transition: all 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    }
    &.color:hover{
      background-color: rgba($primaryColor, 0.8);
  }
  &.color:active{
      background-color:$primaryActive;
  }
    &.secondary {
        cursor: pointer;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: transparent;
        border: 1px white solid;
        border-radius: 24px;
        padding: 5px 10px;
        height: 40px;
        font-size: 16px;
      color:white;
        font-weight: 900;        
      box-sizing: border-box;
        font-family: "Overlock", cursive;
        transition: all 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
    }
    &.secondary:hover {
      background-color: rgba(white, 0.2);
    }
    &.primary:active{
      background-color: rgba($primaryActive, 0.4);
  }
}

@media (max-width:1540px){

}
@media (max-width:1280px){
  
}
@media (max-width: 1025px) {
 
}
@media (max-width: 769px) {

}
@media (max-width: 640px) {
}
@media (max-width: 426px) {

    }
@media (max-width: 360px) {

}
@media (max-width: 320px) {
 
}
